.main {
    margin: 0;
}

.top__block {
    Background-image: url('../static/Sources/Header-Background.jpg');
    Background-color: #DD783F;
    Background-size: cover;
    top: 0px;
}

.header {
    margin-top: 17px;
    display: inline-block;
    height: 40px;
    width: 65%;
    margin-left: 17.3%;
}

.header__line {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_dark {
    color: black;
}

.text_ligth {
    color: white;
}

.header__logo {
    margin: 0;
    font-family: "Lora";
    padding-bottom: 11px;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
}

.header__nav-bar {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 0;
    font-size: 15px;
    width: 376.61px;
    text-transform: uppercase;
}

.nav-bar__labels {
    font: 400 12px/1 'Oxygen';
    text-decoration: none;
    margin: 0 2%;
    transition: color .2s linear;
}

.nav-bar__labels:hover {
    color: #e0aa8b
}

.tagline {
    display: block;
    padding-top: 120px;
    padding-bottom: 157px;
    max-height: 159px;
}

.tagline__block_dark {
    padding-top: 82px;
    margin: 0;
    padding-top: 103px;
}

.tagline__header {
    margin: 0;
    font: 400 50px/1 'Lora';
    text-align: center;
    letter-spacing: 2px;
} 

.tagline__text_dark {
    color: #2E2E2EA1;
    padding-top: 20px;
    height: 20px;
    margin: 0;
    font: 400 17px/1 'Oxygen';
    text-align: center;
    line-height: 20px;
}

.tagline__text {
    color: rgba(255, 255, 255, 0.63);
    padding-top: 20px;
    height: 20px;
    margin: 0;
    font: 400 17px/1 'Oxygen';
    text-align: center;
    line-height: 20px;
}

.tagline__post-pictures {
    width: 100%;
    height: 534px;
    padding-top: 113px;
}

.tagline__button {
    Background-color: #DD783F;
    margin-top: 31px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color:white;
    font: 400 13px/1 'Oxygen', sans-serif;
    width: 167px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.container {
    height: 100%;
    Background-color: #F7F7F7;
}

.themes {
    max-width: 960px;
    Background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 23px;
}

.themes__navigate {
    Background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.themes__navigate-labels {
    font-family: 'Lora';
    font-style: normal;
    line-height: 20px;
    color: #768088;
    text-decoration: none;
    transition: color .2s linear;
}

.themes__navigate-labels:hover {
    color: #000000
}


.featured {
    padding-top: 60px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    padding-left: 376px;
    padding-top: 16px;
    padding-bottom: 23px;
}

.featured__head {
    margin: 0;
    max-width: 188px;
    margin-left: auto;
    margin-right: auto;
    font: 400 20px/1 'Oxygen';    
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
}

.featured__head::after { 
    content: "";
    display: block;
    width: 188px;
    height: 1px;
    Background-color: #DEDEDE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 22px;
}              

.featured__post_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    margin-left: auto;
    margin-right: auto;
}

.themes-labels:hover {
    color: #000000
}

.featured_post{
    justify-self: center;
}

.featured__post_link {
    text-decoration: none;
    color: white;
    margin: 0;
    
}

.featured__post__background {
    position: absolute;
    width: 460px;
    height: 280px;
}

.recent-post {
    height: 291px;
    width: 296px;
}

.featured__post_link__block {
    width: 460px;
    height: 280px;
}
.most_recent {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.most_recent__head {
    width: 940px;
    margin: 0;
    max-width: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
    text-align: center;
    font: 400 20px/1 'Oxygen';
    line-height: 27px;
    letter-spacing: 2px;
}

.most_recent__head::after { 
    content: "";
    display: block;
    width: 188px;
    height: 1px;
    Background-color: #DEDEDE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 22px;
}              



.most_recent-post_grid {    
    display: grid;
    padding-bottom: 89px;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    grid-gap: 24px;
    grid-auto-flow: dense;
    justify-content: space-around;
}
.recent-post {
    Background-color: #ffffff;
    justify-self: center;
}

.recent-post__picture {
    display: block;
    position: absolute;
    width: 296px;
    height: 150px;
}

.recent-post_link__theme {
    position: relative;
    z-index: 2;
    height: 22px;
    padding-top: 10px;
    margin-left: 10px;
    color: #ffffff;
    margin-bottom: 118px;
}

.recent-post_link__theme__label {
    display: block;
    text-align: center;
    height: 14px;
    width: 23%;
    border-radius: 2px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    font: 400 9px/1 'Oxygen';
    text-transform: uppercase;
}

.recent-post__link-tagline {
    margin: 0;
    padding-top: 14px;
    font: 400 16px/1 'Lora';
    line-height: 21px;
    padding-left: 13px;
}

.recent-post__border-line {
    display: block;
    padding-top: 32px;
    margin: 0;
    padding-bottom: 0%;
    height: 1px;
    width: 296px;
}

.recent-post__link-text {
    height: 19px;
    margin: 0;
    padding-top: 6px;
    font: 400 13px/1 'Oxygen';
    line-height: 19px;
    padding-left: 13px;
}

.recent-post__link-date {
    margin: 0;
    font: 400 12px/1 'Oxygen';
    text-decoration: none;   
    line-height: 35px; 
    padding-left: 100px;
    padding-right: 13px;
    color: #999999;
}

.recent-post__link-Author-name {
    width: 76px;
    padding-left: 10px;
    margin: 0;
    font: 400 11px/1 'Oxygen';
    text-decoration: none;  
    line-height: 35px;
}

.recent-post__link-info {

    align-items: center;
    padding-top: 0%;
    padding-left: 15px;
    width: 281px;
    height: 48px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.featured__post_link__theme {
    position: relative;
    z-index: 2;
    height: 26px;
    padding-top: 20px;
    margin-left: 20px;
    
}

.featured__post_link__theme__label {
    display: block;
    text-align: center;
    height: 20px;
    width: 20%;
    border-radius: 2px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    font: 400 12px/1 'Oxygen';
    text-transform: uppercase;
    line-height: 13px;
}

.adventure {
    Background-color: #DD783F;
}

.relaxation {
    background-color: #4AAEC2;
}

.photography {
    background-color: #A872B7;
}

.nature {
    background-color: #E6C728;
}

.vacation {
    background-color: #D25F7C;
}

.travel {
    background-color : #49AE5C;
}

.featured__post_link__text {
    position: relative;
    z-index: 2;
    margin: 0;
    padding-top: 6px;
    font: 400 14px/1 'Oxygen';
    line-height: 25px;
    padding-left: 20px;
}

.featured__post_link__tagline {
    position: relative;
    z-index: 2;
    margin: 0;
    padding-top: 111px;
    font: 400 27px/1 'Lora';
    line-height: 30px;
    padding-left: 20px;
}

.featured__post_link__text {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding-top: 6px;
    font: 400 14px/1 'Oxygen';
    line-height: 25px;
    padding-left: 20px;
}

.featured__post_link__info {
    position: relative;
    z-index: 2;
    padding-top: 12px;
    padding-left: 20px;
    width: 420px;
    height: 35px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.featured__post_link-date {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    font: 400 12px/1 'Oxygen';
    text-decoration: none;   
    line-height: 35px; 
    padding-left: 200px;
}

.featured__post_link-Author-name {
    width: 76px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
    margin: 0;
    font: 400 11px/1 'Oxygen';
    text-decoration: none;  
    line-height: 35px;
}

.post {
    padding-top: 140px;
    margin-left: 16%;
    margin-right: 16%;
    padding-bottom: 135px;
    max-width: 1440px;
    width: 67%;
}

.post__text {
   font-family: 'Oxygen'; 
   font-weight: 400;
   font-size: 24px;
   line-height: 35px;
}

.post__text-paragrph {
    margin-top: 24px;
}

.down-block {
    Background-image: url(../static/Sources/footer-Background.jpg);
    Background-size: cover;

}

.feedback {
    text-align: center;
    padding-top: 81px;
    margin-bottom: 90px;
}

.down__border-line {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 188px;
    padding-bottom: 20px;
}

.feedback__tagline {
    font: 400 25px/1 'Oxygen';
    color: #EFEFEF;
    line-height: 30px;
    padding-bottom: 17px;
    margin: 0;
}

.feedback__tagline::after { 
    content: "";
    display: block;
    width: 188px;
    height: 1px;
    Background-color: #DEDEDE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 20px;
} 

.feedback__tool {
    display: inline-flex;
}

.feedback__tool__input {
    padding: 0;
    border: none;
    width: 340px;
    height: 50px;
    padding-left: 35px;
    border-radius: 3px 0 0 3px;
    outline: none;
}


.feedback__tool__button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    Background-color: rgba(255, 255, 255, 0.28);
    color: #F8F8F8;
    padding: 0;
    display: block;
    border: none;
    margin: 0%;
    width: 125px;
    height: 50px;
    border-radius: 0 3px 3px 0;
}

.footer {
    padding-bottom: 0;
    height: 89px;
}

.footer-shade {
    Background-color:rgba(35, 47, 56, 0.6);
    padding-bottom: 3px;
    padding-left: 17.36%;
    padding-right: 17.36%;
    top: 0px;
}

.footer__line {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    font-family: "Lora";
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.footer__nav-bar {
    font-size: 15px;
    width: 350px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.footer__nav-bar__labels {
    color: rgba(255, 255, 255, 0.6);
    font: 400 12px/1 'Oxygen';
    text-decoration: none;
    margin: 0 10px;
    transition: color .2s linear;
}
